@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
	background-color: #000;
	color: #fff;
}

header {
	height: 100vh;
}

main {
	position: relative;
	z-index: 10;
}

div, p, h1, h2, h3, h4, h5, h6, ul, li, img, a, i {
	background-color: transparent;
}

button {
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

h2 {
	margin: 0;
}

ul {
	list-style: none;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #FFF;
}

.typed-cursor {
	font-size: calc(0.8em + 1vw);
	font-weight: 200;
}

.mb-6 {
	margin-bottom: 7rem !important;
}

.bg-secondary {
	background-color: #131313 !important;
}

.bg-tertiary {
	background-color: #202020 !important;
}

.border-radius-1em {
	border-radius: 1em;
}

.btn-language {
	color: #fff;
	position: absolute;
	top: 1.5vw;
	right: 15vw;
	z-index: 3;
	transition: 0.15s;
}

.btn-language:hover {
	color: #fff;
}

.name-container {
	position: relative;
	z-index: 2;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.name {
	font-size: calc(1em + 5vw);
	font-family: 'Poiret One', sans-serif;
	font-weight: 400;
	letter-spacing: 1rem;
	background-color: inherit;
	margin-bottom: 1rem;
	margin-right: -1rem;
	text-align: center;
}

.job-container {
	height: 38px;
}

.job {
	display: inline-block;
	font-weight: 200;
	font-size: calc(0.8em + 1vw);
	background-color: inherit;
}

.job-after-typing {
	font-weight: 700;
}

.delay-300ms {
	animation-delay: 0.3s;
}

.delay-800ms {
	animation-delay: 0.8s;
}

.delay-6s {
	animation-delay: 6s;
}

.delay-6500ms {
	animation-delay: 6.5s;
}

.delay-7s {
	animation-delay: 7s;
}

.delay-7500ms {
	animation-delay: 7.5s;
}

.btn-seeMore {
	color: #fff;
	background: transparent;
	font-weight: 200;
	font-size: 1.1em;
	text-transform: uppercase;
}

.btn-seeMore-box {
	line-height: 50px;
	height: 50px;
	text-align: center;
	width: 250px;
	cursor: pointer;
	margin-top: 4rem;
}

.btn-seeMore-anim {
	color: #fff;
	transition: all 0.5s;
	position: relative;
}

.btn-seeMore-anim::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: rgba(255, 255, 255, 0.050);
	transition: all 0.3s;
}

.btn-seeMore-anim:hover::before {
	opacity: 0;
	transform: scale(0.5,0.5);
}

.btn-seeMore-anim::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}

.btn-seeMore-anim:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

.header-links {
	width: 130px;
	margin-top: 3em;
}

.header-links li {
	transition: 0.15s;
}

.header-links li:hover {
	transform: scale(1.2);
}

.header-links li img {
	padding: 1px 0;
	width: 30px;
}

.skills h3 {
	margin: 0;
}

.skills ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0 0 5em 0;
}

.skills ul:last-child {
	margin: 0;
}

.skills ul::after {
	content: "";
  	flex: auto;
}

.skills li {
	min-width: 110px;
	height: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 2em;
	margin-top: 2em;
	transition: 0.2s;
	background-color: #202020;
	border-radius: 5px;
	padding: 1em;
}

.skills li:hover {
	transform: scale(1.2);
}

.skills li:last-child {
	margin-right: 0;
}

.skills li p {
	margin: auto 0 0 0;
}

.skills img {
	width: 50px;
	margin: auto;
}

.project-img {
	border-radius: 1em;
	transition: 0.2s;
}

.project-img:hover {
	transform: scale(1.1);
	cursor: zoom-in;
}

.project-btn i {
	font-size: 1.2em;
	transition: 0.15s;
}

.project-btn:hover p, .project-btn:hover i {
	color: #000;
}

.tech-used {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.tech-used li {
	background-color: #fff;
	color: #000;
	font-weight: 600;
	border-radius: 5px;
	padding: 6px;
	margin-right: 0.5em;
	margin-top: 1em;
}

.tech-used li:last-child {
	margin-right: 0;
}

.tech-used::after {
	content: "";
  	flex: auto;
}

.btn-contact {
	cursor: pointer;
	transition: 0.15s;
}

.btn-contact:hover {
	transform: scale(1.05);
}

.contact-icon {
	width: 40px;
}

.team-work-text {
	font-weight: 200;
	font-size: 0.55em;
	background-color: inherit;
	margin-left: 14px;
}



.stars, .twinkling {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.stars {
	z-index: 0;
	background: #000 url("../img/header/stars.png") repeat top center;
}

.twinkling {
	z-index: 1;
	background: transparent url("../img/header/twinkling.png") repeat top center;
	animation: move-twink-back 500s linear infinite;
}

@keyframes move-twink-back {
	from { background-position: 0 0; }
	to { background-position: -10000px 5000px; }
}



@media screen and (max-width: 991px) {
	.skills li {
		margin-right: 1em;
	}

	.contact-icon {
		width: 25px;
	}

	.btn-language {
		top: 5vh;
		right: 5vw;
	}

	.project-img:hover {
		transform: none;
		cursor: auto;
	}
}

@media screen and (max-width: 767px) {
	.contact-icon {
		width: 40px;
	}
}

@media screen and (max-width: 500px) {
	.skills ul {
		justify-content: space-around;
	}

	.skills ul::after {
		content: none;
		flex: none;
	}

	.skills li {
		margin-right: 0.5em;
	}

	.btn-language {
		top: 8vw;
		right: 8vw;
	}
}

@media screen and (max-width: 450px) {
	.name {
		font-size: 7vw;
	}

	.job {
		font-size: calc(1em + 1vw);
	}
}

@media screen and (max-width: 350px) {
	.name {
		font-size: 6vw;
	}

	.job {
		font-size: calc(0.8em + 1vw);
	}

	.team-work-text {
		display: block;
		margin: 10px 0 0 0;
	}
}